<div class="board" *ngIf="boardState$ | async as boardState" [class.board-invalid]="!!(validationError$ | async)">
  <div class="row" *ngFor="let row of boardState;  let rowIndex = index">
    <div
      *ngFor="let cell of row; let cellIndex = index"
      class="cell"
      [class.cell-black]="boardService.isBlackCell(rowIndex, cellIndex)">
      <div *ngIf="cell > 0" class="figure" [class.figure-black]="cell === Figure.black"></div>
    </div>
  </div>
  <div class="board-alert" *ngIf="validationError$ | async as validationError">
    {{
    validationError
    }}
  </div>
</div>
<div class="board-changelog" *ngIf="changeLog$ | async as changeLog">
  <div class="move-snapshot" *ngFor="let snapshot of changeLog">
    {{ moveSnapshotPrint(snapshot.prev, snapshot.curr) }}
  </div>
</div>

